
@media screen and (max-width: 700px)
{

    .maincontent{
        padding: 50% 0 0 8%;
    }

    .maintextcontent{
        width: 500px;
        height: 500px;
        transition: 0.8s;
    }
    .maintext{
        color: white;
        font-size: 20px;
        font-weight: bold;
        width: 300px;
        height: 30px;
        margin-bottom: 2%;
        background-image: linear-gradient(to right,  #475AFF , #9E00FF);
        text-align: center;
        border: 2px solid white;
    }
    .maintext2{
        padding-top: 5%;
        font-size: 35px;
    }
    /* .navcontent ul{
        padding-left: 10%;
    } */
    .navcontent ul li{
        display: block;
        padding: 5%;
    }
    /* .navcontent{
        position: absolute;
        background: rgb(255, 0, 106);
        height: 100vh;
        width: 200px;
        top: 0;
        left: 212px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    } */
    .navcontent{
        position: absolute;
        background: rgb(255, 0, 106);
        height: 40vh;
        width: 100%;
        top: -40vh;
        left: 0;
        text-align: left;
        z-index: 2;
        transition: 0.8s;
        text-align: center;
        border-radius: 0  0 30% 30%;
    }
    nav svg{
        display: block;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .maincontentimage img{
        display: none;
    }
 

    /*------------------------------------------*/


    .aboutmain1{
        display: block;
        position: relative;
    }
    .abouttext{
        font-size: 40px;
    }
    .text{
        position: absolute;
        top: 37vh;
    }
    .aboutcontent{
        width: 300px;
        height: 220px;
        font-size: 15px;
    }
    .aboutmain1 img{
        position: absolute;
        width: 200px;
        left: 12vh;
        border-radius: 80%;
        border: 5px solid white;
    }
    .aboutmain2{
        position: absolute;
        top: 75vh;
    }
    .skilltext{
        font-size: 40px;
    }
    .circle-chart {
        width: 72px;
        height: 85px;
      }
    .car1{
        display: none;
        position: absolute;
        bottom: 50vh;
        left: 5vh;
        width: 150px;
    }
    .car2{
        display: none;
        position: absolute;
        bottom: 45vh;
        left: 100vh;
        width: 200px;
    }
    .skillcontent{
        width: 100%;
    }

    /*----------------------------------------------------------*/

    .projectcontentlower{
        display: block;
        padding: 10% 20%;
    }
    .block{
        margin: 0 10%;
        
    }

    .block img{
        width: 150px;
        height: 150px;
    }
    .block h3{
        padding-top: 5%;
        color: white;
        font-size: 13px;
    }

    /*----------------------------------------------------------*/

    .connectblock{
        display: block;
        padding: 5% 8%;
        justify-content: space-between;
    }

    .connectblock img{
        
        display: none;
    }

    .sendbutton{
        position: relative;
        left: 120px;
    }
    .layer{
        display: none;
    }
     input:focus~label,
    input:valid~label,
    textarea:focus~label,
    textarea:valid~label{
    opacity: 0;
}
}


@media screen and (max-width: 1250px) and (min-width: 700px){
    .car2{
        display: none;
    }
    .car1{display: none;}
    .aboutmain1 img{
        position: absolute;
        width: 250px;
        top: 15vh;
        left: 80vh;
        border-radius: 80%;
        border: 5px solid white;
    }
}